USE [master]
GO
/****** Object:  Database [A01349931_4A]    Script Date: 2022-10-16 5:58:37 PM ******/
CREATE DATABASE [A01349931_4A]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'A01349931_4A', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\A01349931_4A.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'A01349931_4A_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\A01349931_4A_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [A01349931_4A].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [A01349931_4A]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 2022-10-16 5:58:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[Employee_Id] [int] NOT NULL,
	[Phone] [nvarchar](50) NULL,
 CONSTRAINT [PK_Contact] PRIMARY KEY CLUSTERED 
(
	[Employee_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 2022-10-16 5:58:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[Id] [int] NOT NULL,
	[Description] [nvarchar](50) NOT NULL,
	[Vendor_Id] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 2022-10-16 5:58:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Vendor_Id] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Item]    Script Date: 2022-10-16 5:58:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](50) NOT NULL,
	[Part] [nvarchar](50) NOT NULL,
	[Price] [money] NOT NULL,
 CONSTRAINT [PK_Item] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Job]    Script Date: 2022-10-16 5:58:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job](
	[Job_Id] [nchar](10) NOT NULL,
	[Employee_Id] [int] NOT NULL,
 CONSTRAINT [PK_Job] PRIMARY KEY CLUSTERED 
(
	[Job_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 2022-10-16 5:58:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [int] NOT NULL,
	[Employee_Id] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_item]    Script Date: 2022-10-16 5:58:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_item](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Order_Id] [int] NOT NULL,
	[Item_Id] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_Order_Detail1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_PO_Header]    Script Date: 2022-10-16 5:58:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_PO_Header](
	[PO] [nvarchar](50) NULL,
	[Date] [date] NULL,
	[Vendor] [nvarchar](50) NULL,
	[Vendor_Name] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[Province] [nvarchar](50) NULL,
	[Postal] [nvarchar](50) NULL,
	[Contact] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Department] [nvarchar](50) NULL,
	[Department_Description] [nvarchar](50) NULL,
	[Employee] [nvarchar](50) NULL,
	[Employee_Name] [nvarchar](50) NULL,
	[Job] [nvarchar](50) NULL,
	[Item_1] [int] NULL,
	[Part_1] [nvarchar](50) NULL,
	[Description_1] [nvarchar](50) NULL,
	[Quantity_1] [int] NULL,
	[Price_1] [decimal](10, 2) NOT NULL,
	[Amount_1] [decimal](10, 2) NULL,
	[Item_2] [int] NULL,
	[Part_2] [nvarchar](50) NULL,
	[Description_2] [nvarchar](50) NULL,
	[Quantity_2] [int] NULL,
	[Price_2] [decimal](10, 2) NULL,
	[Amount_2] [decimal](10, 2) NULL,
	[Item_3] [int] NULL,
	[Part_3] [nvarchar](50) NULL,
	[Description_3] [nvarchar](50) NULL,
	[Quantity_3] [int] NULL,
	[Price_3] [decimal](10, 2) NULL,
	[Amount_3] [decimal](10, 2) NULL,
	[Item_4] [int] NULL,
	[Part_4] [nvarchar](50) NULL,
	[Description_4] [nvarchar](50) NULL,
	[Quantity_4] [int] NULL,
	[Price_4] [decimal](10, 2) NULL,
	[Amount_4] [decimal](10, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendor]    Script Date: 2022-10-16 5:58:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendor](
	[Id] [nvarchar](50) NOT NULL,
	[Vendor_Name] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[Province] [nvarchar](50) NOT NULL,
	[Contact_Id] [int] NOT NULL,
 CONSTRAINT [PK_Vender] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Contact] ([Employee_Id], [Phone]) VALUES (1758, N'604-123-4567')
GO
INSERT [dbo].[Department] ([Id], [Description], [Vendor_Id]) VALUES (1200, N'Machine Shop', N'ATL001')
GO
INSERT [dbo].[Employee] ([Id], [Name], [Vendor_Id]) VALUES (1757, N'George Jones', N'ATL001')
INSERT [dbo].[Employee] ([Id], [Name], [Vendor_Id]) VALUES (1758, N'John Smith', N'ATL001')
GO
SET IDENTITY_INSERT [dbo].[Item] ON 

INSERT [dbo].[Item] ([Id], [Description], [Part], [Price]) VALUES (1, N'Wrench', N'ABC-5998', 45.0000)
INSERT [dbo].[Item] ([Id], [Description], [Part], [Price]) VALUES (2, N'Hammer', N'XHN-6683', 18.0000)
INSERT [dbo].[Item] ([Id], [Description], [Part], [Price]) VALUES (3, N'Socket', N'BBR-5531', 4.5000)
SET IDENTITY_INSERT [dbo].[Item] OFF
GO
INSERT [dbo].[Job] ([Job_Id], [Employee_Id]) VALUES (N'J15766    ', 1757)
GO
INSERT [dbo].[Order] ([Id], [Employee_Id], [Date]) VALUES (95005, 1757, CAST(N'2018-12-12T00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Order_item] ON 

INSERT [dbo].[Order_item] ([Id], [Order_Id], [Item_Id], [Quantity]) VALUES (1, 95005, 1, 1)
INSERT [dbo].[Order_item] ([Id], [Order_Id], [Item_Id], [Quantity]) VALUES (2, 95005, 2, 3)
INSERT [dbo].[Order_item] ([Id], [Order_Id], [Item_Id], [Quantity]) VALUES (3, 95005, 3, 20)
SET IDENTITY_INSERT [dbo].[Order_item] OFF
GO
INSERT [dbo].[Vendor] ([Id], [Vendor_Name], [Address], [City], [Province], [Contact_Id]) VALUES (N'ATL001', N'ATL Tools Ltd.', N'1234 Main Street', N'Vancouver', N'BC', 1758)
GO
ALTER TABLE [dbo].[Contact]  WITH CHECK ADD  CONSTRAINT [FK_Contact_Employee] FOREIGN KEY([Employee_Id])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[Contact] CHECK CONSTRAINT [FK_Contact_Employee]
GO
ALTER TABLE [dbo].[Department]  WITH CHECK ADD  CONSTRAINT [FK_Department_Vender] FOREIGN KEY([Vendor_Id])
REFERENCES [dbo].[Vendor] ([Id])
GO
ALTER TABLE [dbo].[Department] CHECK CONSTRAINT [FK_Department_Vender]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Vender] FOREIGN KEY([Vendor_Id])
REFERENCES [dbo].[Vendor] ([Id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Vender]
GO
ALTER TABLE [dbo].[Job]  WITH CHECK ADD  CONSTRAINT [FK_Job_Employee] FOREIGN KEY([Employee_Id])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[Job] CHECK CONSTRAINT [FK_Job_Employee]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Employee] FOREIGN KEY([Employee_Id])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Employee]
GO
ALTER TABLE [dbo].[Order_item]  WITH CHECK ADD  CONSTRAINT [FK_Order_Detail_Item] FOREIGN KEY([Item_Id])
REFERENCES [dbo].[Item] ([Id])
GO
ALTER TABLE [dbo].[Order_item] CHECK CONSTRAINT [FK_Order_Detail_Item]
GO
ALTER TABLE [dbo].[Order_item]  WITH CHECK ADD  CONSTRAINT [FK_Order_Detail1_Order] FOREIGN KEY([Order_Id])
REFERENCES [dbo].[Order] ([Id])
GO
ALTER TABLE [dbo].[Order_item] CHECK CONSTRAINT [FK_Order_Detail1_Order]
GO
ALTER TABLE [dbo].[Vendor]  WITH CHECK ADD  CONSTRAINT [FK_Vendor_Contact] FOREIGN KEY([Contact_Id])
REFERENCES [dbo].[Contact] ([Employee_Id])
GO
ALTER TABLE [dbo].[Vendor] CHECK CONSTRAINT [FK_Vendor_Contact]
GO
USE [master]
GO
